<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
    <div class="user-info-wrapper">
        <div class="profile-wrapper"> <img src="./images/profiles/avatar.jpg"  alt="" data-src="./images/profiles/avatar.jpg" data-src-retina="./images/profiles/avatar2x.jpg" width="69" height="69" /> </div>
        <div class="user-info">
            <div class="greeting">Welcome</div>
            <div class="username">{{currentUser.user.lastName}} <span class="semi-bold">{{currentUser.user.firstName}}</span></div>
            <div class="status">Status<a href="#">
                <div class="status-icon green"></div>
                Online</a></div>
        </div>
    </div>
    <!-- END MINI-PROFILE -->
    <!-- BEGIN SIDEBAR MENU -->
    <p class="menu-title">BROWSE <span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
    <ul>
        <li class="start">
            <a>
                <i class="icon-custom-home"></i>
                <span class="title">Dashboard</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="start" ui-sref="main.category" ui-sref-active="active">
            <a>
                <i class="mdi mdi-folder-multiple"></i>
                <span class="title">Category</span>
                <span class="selected"></span>
            </a>
        </li>

    </ul>
    <div class="side-bar-widgets">
        <p class="menu-title">FOLDER <span class="pull-right"><a href="#" class="create-folder"> <i class="fa fa-plus"></i></a></span></p>
        <ul class="folders" >
            <li><a href="#">
                <div class="status-icon green"></div>
                My quick tasks </a> </li>
            <li><a href="#">
                <div class="status-icon red"></div>
                To do list </a> </li>
            <li><a href="#">
                <div class="status-icon blue"></div>
                Projects </a> </li>
            <li class="folder-input" style="display:none">
                <input type="text" placeholder="Name of folder" class="no-boarder folder-name" name="" >
            </li>
        </ul>
        <p class="menu-title">PROJECTS </p>
        <div class="status-widget">
            <div class="status-widget-wrapper">
                <div class="title">Freelancer<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                <p>Redesign home page</p>
            </div>
        </div>
        <div class="status-widget">
            <div class="status-widget-wrapper">
                <div class="title">envato<a href="#" class="remove-widget"><i class="icon-custom-cross"></i></a></div>
                <p>Statistical report</p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- END SIDEBAR MENU -->
</div>
